---
title: Bulletins
description: Guidance for writing a bulletin, including how to structure it so that users can find what they need
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 5
---

{% block mainContent %}
   
<p>{{ page.description }}.</p>

{% endblock %}
