---
title: Back link
version: 45.2.2
layout: sub-navigation/views/_page
---
+++
{% block mainContent %}
+++    
<p>A back link is used to help the user go back to the previous page of a transaction or questionnaire.</p>

+++
{% endblock %}
+++
