---
title: Button
version: 45.2.1
layout: sub-navigation/views/_page
---
+++
{% block mainContent %}
+++    
<p>Buttons help users carry out important actions on a page like starting a survey or saving their answers.</p>

+++
{% endblock %}
+++
