---
title: Language and spelling
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 1
---
{% block mainContent %}

<h3 id="contents">A or An</h3>
<p>Use “a” and “an” as they would be said.</p>
<div class="example"><p>an 18% increase<br>
a NATO paper<br>
a UK organisation<br>
an IT solution</p></div>
<p>Use “a” for words beginning with “h” when the “h” is pronounced.</p>
<div class="example"><p>a historian<br>
an hour</p></div>
<h3 id="accept-or-except">Accept or except</h3>
<p>“Accept” means to agree to receive or do.</p>
<div class="example"><p>I accept your terms.</p></div>
<p>“Except” means not including.</p>
<div class="example"><p>Bring everything except the tent.</p></div>
<h3 id="advice-or-advise">Advice or advise</h3>
<p>“Advice” means recommendations about what to do.</p>
<div class="example"><p>The advice was very useful.</p></div>
<p>“Advise” means to recommend something.</p>
<div class="example"><p>I advised him to call the police.</p></div>
<h3 id="affect-or-effect">Affect or effect</h3>
<p>“Affect” means to influence or to adopt.</p>
<div class="example"><p>The war affected him greatly.</p></div>
<p>“Effect” means to accomplish the result of an action.</p>
<div class="example"><p>The overall effect was stunning.</p></div>
<h3 id="altogether">Altogether or all together</h3>
<p>“Altogether” means completely.</p>
<div class="example"><p>There were six&nbsp;altogether.</p></div>
<p>“All together” means everyone in one place.</p>
<div class="example"><p>We were all together in the living room.</p></div>
<h3>Alzheimer’s disease</h3>
<p>Use “Alzheimer’s disease”, including the apostrophe and “s” in line with the <a href="https://www.nhs.uk/conditions/alzheimers-disease/">NHS style</a>.</p>
<h3 id="because">Because, due to and since</h3>
<p>The words “due to” and “since” should not be used in place of “because”. “Owing to” can replace “because of”.</p>
<p>It was wet inside owing to the window being open</p>
<h4>Not</h4>
<div class="example"><p>it was due to the rain<br>
it has been wet inside since she opened the window</p></div>
<h3>Due to</h3>
<p>“Due to” can be used to mean either “owed to” or “scheduled to”.</p>
<div class="example"><p>the money that is due to her from an inheritance<br>
the train is due to arrive at 8:45pm</p></div>
<h3>Since</h3>
<p>“Since” is usually used in the past tense.</p>
<div class="example"><p>They have known each other since 1982<br>
Mother and I have not spoken since the fall of Tobruk</p></div>
<p>“Since” can be used in the present tense when it refers to the current situation.</p>
<div class="example"><p>Since he went to university, he thinks he knows everything</p></div>
<h3 id="between-or-among">Between or among</h3>
<p>Use “between” when referring to two&nbsp;subjects.</p>
<div class="example"><p>We divided the money between John and Michael</p></div>
<p>Use “among” when referring to more than two subjects. Do not use “amongst”.</p>
<div class="example"><p>We shared the sweets among Sarah, Lucy and Clare</p></div>
<h3 id="Brexit-not-EU-exit">Brexit, not EU exit</h3>
<p>Search engine data show that many more people use “Brexit” than “EU exit”.</p>
<div class="example"><p>The UK government set out its strategy for trade policy after Brexit in a paper published in October.<br>
The decline in transport equipment was due largely to a fall in car manufacturing, as firms planned shutdowns around the originally-intended date for Brexit.</p></div>
<h3 id="complement-or-compliment">Complement or compliment</h3>
<p>“Complement” is&nbsp;that which completes or fills up something.</p>
<div class="example"><p>A full complement of staff.</p></div>
<p>“Compliment” is&nbsp;an expression of admiration or praise.</p>
<div class="example"><p>He complimented my choice of outfit.</p></div>
<h3 id="complementary-or-complimentary">Complementary or complimentary</h3>
<p>“Complementary” is completing or making up a whole.</p>
<div class="example"><p>The complementary staff.</p></div>
<p>“Complimentary” means given free of charge.</p>
<div class="example"><p>Here are the complimentary peanuts.</p></div>
<h3>Coronavirus and COVID-19</h3>
<p><span data-contrast="none">Coronaviruses are a family of viruses that cause disease in people and animals. They can cause the common cold or more severe diseases, such as COVID-19. COVID-19 refers to “coronavirus disease 2019” and is a disease that can affect the lungs and airways.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="none">Coronavirus is lower case unless at the start of a sentence. Refer to “</span><span data-contrast="none">coronavirus (COVID-19)”</span><span data-contrast="none">&nbsp;in the first instance of each section of your article or bulletin.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="none">“</span><span data-contrast="none">Coronavirus” should be used f</span><span data-contrast="none">or all subsequent uses in a section when referring to the virus and the pandemic in general.&nbsp;</span>Do not add the word “the” before “coronavirus” when it is being used as a noun. For example, “effects of coronavirus on the economy.” Include the word “the” when “coronavirus” is being used as an adjective. For example, “the coronavirus pandemic”.</p>
<p><span data-contrast="none">“COVID-19” should be used for all subsequent uses in a section when referring to the specific disease. For example, “there was an increase in registered deaths involving COVID-19”.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<p><span data-contrast="none">Questionnaires and respondent materials should use “coronavirus (COVID-19)” for all instances.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
<div><p><span style="font-weight: 400">View our <a href="https://style.ons.gov.uk/category/coronavirus/">full coronavirus guidance</a> for more information.</span></p></div>
<h3 id="dependant-or-dependent">Dependant (noun) or dependent (adjective)</h3>
<p>“Dependant” means someone who relies on another for support, financial or otherwise.</p>
<div class="example"><p>I have six&nbsp;dependants</p></div>
<p>“Dependent” means depending, relying, contingent or relative.</p>
<div class="example"><p>The trip is dependent on the weather</p></div>
<h3 id="expenditure">Expenditure</h3>
<p>“The act of spending” or “money spent”. An item cannot have expenditure, it can only have money spent on it.</p>
<h3 id="fewer-or-less">Fewer or less</h3>
<p>Use “less” with nouns that cannot be counted or do not have a plural.</p>
<div class="example"><p>less praise<br>
less rain</p></div>
<p>In sentences with “than”, use “less” with numbers on their own:</p>
<div class="example"><p>The price fell from £18 to less than £12</p></div>
<p>Use “less” when referring to measurements or time:</p>
<div class="example"><p>Companies less than 5 years old are creating jobs<br>
Per capita income is less than $50 per year<br>
Heath Square is less than 4 miles away</p></div>
<p>Use “fewer” with nouns in the plural.</p>
<div class="example"><p>fewer than 20 employees<br>
fewer people</p></div>
<p>Do not use “over” and “under” for quantities. Use less than and fewer than, or more than.</p>
<div class="example"><p>more than 6%</p></div>
<h3 id="functionality">Functionality</h3>
<p>The capacity to be functional or practical; purpose. Also means “a specific application of a computer program”.</p>
<h3 id="hopefully">Hopefully</h3>
<p>“Hopefully” means “full of hope”. Instead, use “it is hoped that” or “we hope”.</p>
<h3 id="however">However</h3>
<p>“However” has two&nbsp;meanings: “nevertheless” and “no matter how”. If you use “however” at the beginning of a sentence to mean “nevertheless”, it must be followed by a comma.</p>
<div class="example"><p>The data are&nbsp;usually consistent. However, rounding can cause differences.</p></div>
<p>If you use “however” to mean “no matter how”, a comma is not required.</p>
<div class="example"><p>However many times I write this, it is never easy.</p></div>
<p>Do not use “however” as a substitute for “but”.</p>
<div class="example"><p>It is raining today, however we hope it will be dry tomorrow.</p></div>
<h3 id="ise-or-ize">-ise and -ize</h3>
<p>Use “-ise”, not “-ize” as a word ending, unless it is a proper noun. The Oxford English Dictionary uses “-ize”, please ignore this.</p>
<div class="example"><p>organise<br>
prioritise</p></div>
<h3 id="illegitimate-births">Illegitimate births</h3>
<p>Use “born outside marriage”.</p>
<h3 id="imply-or-infur">Imply or infer</h3>
<p>“Imply” is to insinuate, signify or hint</p>
<div class="example"><p>The statistician implied the crime levels had gone down.</p></div>
<p>“Infer” is to draw a conclusion from something.</p>
<div class="example"><p>From the statistics we infer that the crime levels have gone down.</p></div>
<h3 id="important-or-interesting">Important or interesting</h3>
<p>If something is important or interesting, you should also say why and to whom.</p>
<div class="example"><p>The crime statistics are important to the police in each area, as they can use them for employment estimates.</p></div>
<h3 id="Lead (verb or noun) or led (verb)">Lead (verb or noun) or led (verb)</h3>
<p>“Lead” (verb) means to cause a person or animal to go with one or to be in charge or command.</p>
<div class="example"><p>Jack will lead the horses to water.<br>
I always lead the team on large projects.</p></div>
<p>“Lead” (noun) can mean taking the initiative or being an example to others, or the metal.</p>
<div class="example"><p>Britain has taken the lead in this race.<br>
The pipe is made of lead.</p></div>
<p>“Led” is the past tense and past participle of the verb “to lead”.</p>
<div class="example"><p>Annie led the meeting successfully.</p></div>
<h3 id="licence-or-license">Licence (noun) or license (verb)</h3>
<p>“Licence” means being allowed or given leave. A patent or grant of permission.</p>
<div class="example"><p>The police asked to see my licence.</p></div>
<p>“License” means to give permission or allow.</p>
<div class="example"><p>The premises is licensed for alcohol.</p></div>
<h3 id="like">Like</h3>
<p>Use “such as”, not “like”</p>
<div class="example"><p>stylistic devices such as bold and italic.</p></div>
<h3 id="mitigate">Mitigate</h3>
<p>To appease, to make something more easily borne or to lessen the severity, violence or evil of something.</p>
<h3 id="of">Of, from, with and to</h3>
<h4>Compared with and compared to</h4>
<p>Use “compared with” when pointing out the similarities and differences of subjects.</p>
<div class="example"><p>full-time workers in England earned £316 per week compared with only £284 per week in Wales.</p></div>
<p>Use “compared to” when pointing out similarities.</p>
<div class="example"><p>Shall I compare thee to a summer’s day?</p></div>
<p>Use “in comparison with” and never “in comparison to”.</p>
<h4>Consists of and comprises</h4>
<p>Use “consists of” or “comprises” but never use “comprises of”.</p>
<div class="example"><p>The pudding consists of cream, berries and meringue<br>
The pudding comprises cream, berries and meringue</p></div>
<h4>Different from/than/to</h4>
<p>Use “different from”, “different to” and “different than”.</p>
<h4>Example</h4>
<div class="example"><p>It is different from the original version<br>
It is different to the original version<br>
It is different than the original version</p></div>
<h3 id="similar-to">Similar to</h3>
<p>Use “similar to”, and never use “with” or “as”.</p>
<div class="example"><p>It is similar to the original version.</p></div>
<h3 id="practice-or-practise">Practice (noun) or practise (verb)</h3>
<p>“Practice” is the application or use of an idea, belief, or method</p>
<div class="example"><p>The practice of hanging was outlawed.</p></div>
<p>“Practise” means to perform an activity or exercise</p>
<div class="example"><p>I am practising my juggling.</p></div>
<h3 id="principal-or-principle">Principal or principle</h3>
<p>“Principal” means:</p>
<ul>
<li>adjective = taking the first place</li>
<li>noun = the head of a college or university</li>
</ul>
<div class="example"><p>The principal idea for school closure. The principal closed the school.</p></div>
<p>“Principle” means a law or premise.</p>
<div class="example"><p>The school was closed on principle.</p></div>
<h3 id="program-or-programme">Program or programme</h3>
<p>Write “computer program” but every other type uses the extra “-me” spelling.</p>
<div class="example"><p>television programme<br>
theatre programme</p></div>
<h3 id="recession">Recession</h3>
<p>In the UK, “recession” refers to two or more consecutive quarters of negative growth in GDP or output. If you are unsure if this applies to the period you are writing about, use the term “economic downturn”.</p>
<h3 id="stationary-or-stationery">Stationary or stationery</h3>
<p>“Stationary” means not moving</p>
<div class="example"><p>The train was stationary.</p></div>
<p>“Stationery” means writing or office materials</p>
<div class="example"><p>The pen is in the stationery cupboard.</p></div>
<h3 id="that-or-which">That or which</h3>
<p>Use “that” when the next part of the sentence is essential to its sense or meaning.</p>
<div class="example"><p>The statistics that show the decline are invaluable.<br>
The chart shows the population increase that occurred in 2019.</p></div>
<p>Use “which” to introduce part of a sentence that offers additional information but is not essential. When used in this way, “which” should be preceded by a comma.</p>
<div class="example"><p>The statistics, which were produced this week, show there has been a decline.<br>
The largest increases were in Wales and Northern Ireland, which both saw a 3% rise.</p></div>
<h3>Which or what</h3>
<p>Use “which” when there is a limited choice and assumed knowledge of options.</p>
<p>Use “what” when there are many possibilities.</p>
<div class="example"><p>Which colour do you prefer?<br>
What breed is your dog?</p></div>
<h3 id="online">www, internet and online</h3>
<p>“web”, “world wide web”, “www”, “internet” and “online”&nbsp;are always lower case. “Online” is always written as one word.</p>
<div class="example"><p>web<br>
world wide web<br>
www<br>
website<br>
homepage<br>
web page</p></div>

{% endblock %}
