---
title: Brand guidelines
description: The ONS brand and how to apply it correctly to build trust and recognition for our users
version: 45.2.2
layout: sub-navigation/views/_master
hideSubnav: true
sortOrder: 4
---
+++
{% block pageContent %}

    {% block main %}

        {{
            onsHero({
                "noBg": true,
                "wide": true,
                "title": pageInfo.title,
                "text": pageInfo.description
            })
        }}

        {% from "components/card/_macro.njk" import onsCard %}
        <div class="ons-container ons-container--wide">

            <div class="ons-grid ons-grid--column@xxs@s ons-u-mt-l">
                {% set cards = helpers.navigationHelper({ 
                    "pages": pageInfo.children
                }) %}
                {% for card in cards %}
                    <div class="ons-grid__col ons-col-4@m ons-u-mb-m@m">
                        {{ onsCard({
                            "id": 'title' + loop.index,
                            "textId": 'text-' + loop.index,
                            "title": card.title,
                            "url": card.url,
                            "text": card.description
                        }) }}
                    </div>
                {% endfor %}
            </div>
            
        </div>

    {% endblock %}


{% endblock %}
