{% from "../../components/header/_macro.njk" import onsProtoHeader %}

{{
    onsProtoHeader({
        "wide": true,
        "title": "Service manual",
        "logoHref": '/',
        "titleLogoHref": pageInfo.rootPath + '/service-manual',
        "toggleButton": {
            "text": "Menu",
            "ariaLabel": "Toggle main navigation"
        },
        "search": true
    })
}}
