---
title: Contribute
description: How to contribute to the design system if you want to propose a new feature or suggest a change
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 5
---

{% block mainContent %}

<p>A community of designers, developers and researchers from across the ONS develop and support the ONS Design System.</p>

<p>You are welcome to make a contribution to the design system.</p>


{% endblock %}
