---
title: Numbers
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 3
anchorLinks: true
---
{% block mainContent %}

From dates to page numbers to percentages; how to use numbers correctly.

## Writing numbers
Write all numbers 10 and over as numerals, up to 999,999.

Write numbers zero to nine as words unless they are technical or precise, such as dates, figure or table titles, or relate directly to the statistics being presented.

<blockquote class="example"><p>On the one hand…<br>
This is the most effective of the two measures…<br>
7 March 2017<br>
1,000<br>
Figure 1</p></blockquote>

Where a range crosses the 10 boundary, use numerals.

<blockquote class="example"><p>9 to 12 respondents, not nine to 12 respondents</p></blockquote>

Write out rankings first to ninth, then use numerals. Do not use superscript for “st”, “nd”, “rd” and “th”.

<blockquote class="example"><p>first<br>
10th</p></blockquote>

A sequence of numbers should use the same format for both, which should follow the higher number.

<blockquote class="example"><p>6th out of 12</p></blockquote>

Do not use abbreviations of “numbers”, such as “no” or “nos”. They can be read incorrectly.

Use commas to separate thousands in numbers of four digits or more, and never spaces (except when writing years – these should have no punctuation).

<blockquote class="example"><p>100,000<br>
2,548<br>
1995</p></blockquote>

Avoid writing sets of numbers together.

<blockquote class="example"><p>In 1961 just over 2,500 births were recorded</p>
<p>Not</p>
<p>In 1961 2,543 births were recorded</p></blockquote>

Use a 0 where there is no digit before the decimal point in a number.

<blockquote class="example"><p>0.6%</p></blockquote>

Do not start a sentence with a numeral. Rearrange the sentence accordingly.

<blockquote class="example"><p>The number of people who drive a car is 52.4 million</p>
<p>Not</p>
<p>52.4 million people drive a car</p></blockquote>

Do not use a hyphen to indicate a range of numbers, separate with “to”.

<blockquote class="example"><p>Around 15 to 20 people attended the event.</p></blockquote>

## Number rounding
Rounding numbers can make them easier to read and compare, although this must be balanced against the loss of precision.

The level of rounding you use (for example, one decimal place or two significant figures) should be effective, and chosen according to the intended use. It should also be consistent throughout your piece of writing.

For more detail about intended users, go to Number rounding in the Data visualisation section.

For more information about presenting tables and graphs (including rounding on page 7), see the Government Statistical Service’s Good Practice Team guidance.

## Generalised numbers
Write out generalised numbers.

<blockquote class="example"><p>hundreds of years<br>
in their thousands<br>
per thousand women</p></blockquote>

## Millions and billions
Write out and use lower case.

<blockquote class="example"><p>2.5 million<br>
148 billion</p></blockquote>

Do not use “0.xx million” for numbers less than 1 million, unless part of a sequence of numbers

## Page numbers
Use the fewest digits possible while remaining clear. Separate them with “to”.

<blockquote class="example"><p>1 to 4<br>
10 to 18<br>
132 to 148</p></blockquote>

## Plus and minus
In text, when referring to positive and negative numbers, write out “positive” and “negative” in
full.

<blockquote class="example"><p>
positive 7<br>
negative 3
</p></blockquote>

In a dataset, use the symbols with no space between them and the number.

<blockquote class="example"><p>
+7<br>
-3
</p></blockquote>

## Fractions
Write out and hyphenate fractions.

<blockquote class="example"><p>two-thirds<br>
three-quarters</p></blockquote>

Avoid using too many fractions as it can be difficult to compare several together.

Also avoid using large denominators.

<blockquote class="example"><p>three-sixteenths</p></blockquote>

Write out decimal fractions as numerals. Use the same number format for a sequence of fractions and decimals.

<blockquote class="example"><p>0.75 and 0.45</p></blockquote>

## Percentages
Use the percentage symbol with no space between it and the number.

<blockquote class="example"><p>6%</p></blockquote>

Always write “percentage” and never %age.

Use the same number of decimal places for a sequence of decimal numbers.

<blockquote class="example"><p>6.25% and 7.60%</p></blockquote>

A percentage point is the difference between percentages. A value of 10% falling by 1 percentage point becomes 9% (10% has 10 percentage points). A fall of 1% would result in a value of 9.9%

## Dates
Use the format “[Date] [Month] [Year]” (depending on what information you have) written out with no commas. If the day of the week is relevant, then put it before the date. Do not include “st”, “nd”, “rd” and “th” after the date. 

<blockquote class="example"><p>12 March 2014<br>
Monday 3 March 2014</p></blockquote>

Write out months in full. If space is limited (such as in a table) use the shortened version with no punctuation, but not for June and July. Do not use shortened versions of months in titles.

<blockquote class="example"><p>Jan<br>
Apr<br>
Sept<br>
Retail sales in Great Britain: September 2017</p></blockquote>

## Date spans
Use the format “[date] to [date]” to state the reference period for your data.

<blockquote class="example"><p>2009 to 2010</p></blockquote>

If using months within the same year, only write the year after the subsequent month.

<blockquote class="example"><p><span style="font-weight: 400">July to September 2014</span></p></blockquote>

If the period spans years, add the relevant year after each month.

<blockquote class="example"><p><span style="font-weight: 400">July 2013 to September 2014</span></p></blockquote>

For a period between two dates, use the format “between [date] and [date]”.

<blockquote class="example"><p><span style="font-weight: 400">between 1986 and 2014<br>
between July and September 2014<br>
between 2001 to 2003 and 2017 to 2019</span></p></blockquote>

Do not use hyphens, dashes or forward slashes to indicate date spans. It is quicker to read “to”, and special characters can cause problems for screen readers.

### Decades
Decades should only have an apostrophe when they are a possessive, not a contraction.

<blockquote class="example"><p>a 1960s’ child<br>
the 1960s were great</p></blockquote>

### Centuries
Use ordinal numbers when referring to a particular century.

<blockquote class="example"><p>21st century</p></blockquote>

### Quarters
Define the quarter, the months covered, and the year. Explain which months are included in the quarter in the first instance of each section, and only include the quarter and year in every subsequent instance. Abbreviate the months to three or four characters. In titles write the months in full and avoid using quarters.

<blockquote class="example"><p>Quarter 1 (Jan to Mar) 2019<br>
Quarter 2 (Apr to June) 2019<br>
Quarter 3 (July to Sept) 2019<br>
Quarter 4 (Oct to Dec) 2019<br>
The value of goods imported narrowed in Quarter 2 (Apr to June) 2019. Within imports of goods, the largest decreases recorded in Quarter 2 2019 were…</p></blockquote>

### Financial, tax and academic years
For financial years, write “financial year ending” and the abbreviation “FYE” in brackets, followed by the year for the first time you use it in each section. After that, just use the abbreviation and the year. The full phrase should be written out again for the first mention in each section.

<blockquote class="example"><p>financial year ending (FYE) 2011<br>
FYE 2011</p></blockquote>

If a date span covers this period but you do not want to refer to the financial year, either write “year ending March 2018” or “April 2017 to March 2018” depending on what you think will meet your users’ needs.

If your data source uses another recognised date span such as the academic or tax year, write this in each instance without using hyphens, dashes or slashes.

<blockquote class="example"><p>tax year ending 2019<br>
academic year 2020 to 2021</p></blockquote>

Include a definition of the months included in a non-calendar date span near its first reference in the text so that all users can understand the dates you are referring to. This will only need to be defined in the first instance of your bulletin or article.

### Change in data over time
If you need to show a change in the data between two date spans, include the month and year in brackets after each figure. Use the format “from [amount] (month year) to [amount] (month year)”.

<blockquote class="example"><p>Northern Ireland has seen an increase of 20% in the number of acceptances, from 9,878 (April 2016 to March 2017) to 11,877 (April 2017 to March 2018).</p></blockquote>

### Reference across different time periods and countries
When reporting on different geographic areas that use data from different date spans, state the month and year of the data collection after each area. Use the appropriate format for the date range, and place the information in brackets.

<blockquote class="example"><p>… the largest category of households reported to be applying for help with homelessness across the UK was single people (based on data for October to December 2018 in England; April 2017 to March 2018 in Scotland; January to December 2018 in Wales; and April to September 2018 in Northern Ireland).</p></blockquote>

## Time
Do not use the 24-hour clock. Do not insert spaces between the number and the letters, and do not use any punctuation except as shown.

<blockquote class="example"><p>9am<br>
10:30am<br>
midday<br>
midnight<br>
11:30pm</p></blockquote>

Use the same number format for time spans.

<blockquote class="example"><p>8:00am to 5:30pm<br>
1pm to 3pm</p></blockquote>

## Ages
Use the format “aged [age] years”

<blockquote class="example"><p>aged nine years</p></blockquote>

Use the format “aged [age] to [age] years”.

<blockquote class="example"><p>aged 10 to 11 years</p></blockquote>

Include the months or weeks for ages under a year.

<blockquote class="example"><p>aged nine weeks</p></blockquote>

If you refer to ages as “[age]-year-old”, include the hyphens.

<blockquote class="example"><p>24-year-old<br>
16- to 24-year-old men</p></blockquote>

Write decades as an age as numerals.

<blockquote class="example"><p>women in their 40s</p></blockquote>

Limits for age restrictions should use “aged [age] years and over” or “aged under [age] years”. Do not use the plus sign.

<blockquote class="example"><p>aged 75 years and over</p>
<p>aged under 18 years</p></blockquote>

## Money
Use the major currency unit before the amount. Do not use decimals unless using smaller units.

<blockquote class="example"><p>£15<br>
$76.56</p></blockquote>

In a sequence of numbers, use the same number of decimal places, even if every number does not have a smaller unit.

<blockquote class="example"><p>£10.43 rising to £12.00.</p></blockquote>

Do not use “0.xx million” for amounts less than 1 million, unless in a sequence of numbers.

<blockquote class="example"><p>£3.5 million, £6.5 million and £0.9 million</p></blockquote>

Write out the smaller unit in full.

<blockquote class="example"><p>15 pence</p></blockquote>

Currency should use lower case.

<blockquote class="example"><p>The euro is stronger than the pound.</p></blockquote>

Write out currency as “British pounds”, or “American dollars”.

## Measurements and units
Use metric units of measurement, except in specific cases where imperial units are still used as standard.

Write out measurements at first mention, then abbreviate. If it is only mentioned once, do not abbreviate.

Abbreviations should not have full stops and are always singular. Use a space between the number and the abbreviation, except with one-letter abbreviations.

Write out “miles” and “metres” in full.

{% endblock %}
