---
group: Navigation
title: Navigation prototype
version: 45.1.3
layout: sub-navigation/views/_master
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "./components/header-navigation/_macro.njk" import onsHeaderNavigation %}

{% block head %}
    <link rel="stylesheet" href="/prototypes/sub-navigation/styles.css" />
{% endblock %}

{% block header %}
{{ super() }}
{{
    onsHeaderNavigation({
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "ariaListLabel": 'Navigation menu',
            "currentPath": '#design-system',
            "itemsList": [
                {
                    "title": 'Home',
                    "url": '#home'
                },
                {
                    "title": 'Service standard',
                    "url": '#0'
                },
                {
                    "title": 'Design system',
                    "url": '#design-system'
                },
                {
                    "title": 'Accessibility',
                    "url": '#0'
                },
                {
                    "title": 'Brand guidelines',
                    "url": '#0'
                }
            ]
        },        
        "secondaryNavigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "ariaListLabel": 'Navigation menu',
            "currentPath": '#foundations',
            "itemsList": [
                {
                    "title": 'Guidance',
                    "url": '#0'
                },
                {
                    "title": 'Foundations',
                    "url": '#foundations',
                    "currentPath": '#typography',
                    "sectionItems": [
                        {
                            "title": 'Base page template',
                            "url": '#0'
                        },
                        {
                            "title": 'Grid',
                            "url": '#0'
                        },
                        {
                            "title": 'Colours',
                            "url": '#0'
                        },
                        {
                            "title": 'Typography',
                            "url": '#typography'
                        },
                        {
                            "title": 'Icons',
                            "url": '#0'
                        }
                    ]
                },
                {
                    "title": 'Components',
                    "url": '#0'
                },
                {
                    "title": 'Patterns',
                    "url": '#patterns'
                },
                {
                    "title": 'Contribute',
                    "url": '#0'
                }
            ]
        },
        "autosuggest": {
            "label": "Search the design system",
            "instructions": "Use up and down keys to navigate results once you\'ve typed more than two characters. Use the enter key to select a result. Touch device users, explore by touch or with swipe gestures.",
            "ariaYouHaveSelected": "You have selected",
            "ariaMinChars": "Enter 3 or more characters for results.",
            "ariaResultsLabel": "Search results",
            "ariaOneResult": "There is one result available.",
            "ariaNResults": "There are {n} results available.",
            "ariaLimitedResults": "Results have been limited to 10 results. Type more characters to improve your search",
            "moreResults": "Continue entering to improve results",
            "resultsTitle": "Search results",
            "autosuggestData": "/search-index.json",
            "noResults": "No results found",
            "typeMore": "Continue entering to get results"
        }
    })
}}
{% endblock %}
{% block main %}
    <form class="u-mt-m">
        <h1>What is your name?</h1>
        {{
            onsInput({
                "id": "first-name",
                "name": "first-name",
                "label": {
                    "text": "First name"
                }
            })
        }}
        {{
            onsInput({
                "id": "last-name",
                "name": "last-name",
                "label": {
                    "text": "Surname"
                }
            })
        }}
        {{
            onsButton({
                "text": "Save and continue",
                "classes": "ons-u-mt-l"
            })
        }}
    </form>
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/sub-navigation/index.js"></script>
{% endblock %}