---
title: Guidance
description: How to follow the brand guidelines and apply the brand across various media
version: 45.2.1
layout: sub-navigation/views/_page
sortOrder: 1
---
{% block mainContent %}
    <p>How to follow the brand guidelines and apply the brand across various media.</p>
{% endblock %}
