---
title: Develop a feature
subgroup: How to contribute
version: 45.2.2
layout: sub-navigation/views/_page
---
+++
{% block mainContent %}
+++
<p>A community of designers, developers and researchers from across the ONS develop and support the ONS Design System.</p>

<p>You are welcome to make a contribution to the design system. You can:</p>
{{
    onsList({
        "itemsList": [
          {
            "text": '<a href="/contribute/propose-a-new-feature">propose a new feature</a>'
          },
          {
              "text": '<a href="/contribute/propose-a-change">propose a change</a> to an existing feature or its documentation'
          }
        ]
    })
}}

<p>The <a href="/contribute/design-system-working-group">Design System working group</a> will consider each proposal and decide if your evidence is strong enough for it to be put on the <a href="#0">community backlog</a>.</p>



{% endblock %}
