---
title: Guidance
description: Everything you need to get set up on the design system, and guidance on how to use it
version: 45.2.1
layout: sub-navigation/views/_page
sortOrder: 1
---
+++
{% block mainContent %}
+++
<p>Everything you need to get set up on the design system, and guidance on how to use&nbsp;it.</p>
<p>Start your set-up by <a href="/guidance/install-with-npm">installing with npm</a> to get the most up-to-date version of the design system. Then <a href="/guidance/using-css-js-and-assets">import the files and assets</a> you need.</p>
<p>The content and design guides will help you write and design for accessibility and consistency. They will also guide you on how to apply <a href="https://style.ons.gov.uk/category/house-style/">ONS house style</a> correctly.</p>
<p>If you need further help, or have any questions, you can email the Design System working group at 
    <a href="mailto:ons.design.system@ons.gov.uk?subject=Query about the Design System working group" class="ons-external-link" target="_blank" rel="noopener">ons.design.system@ons.gov.uk<span class="ons-external-link__icon">&nbsp;<svg id="external-link" class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)"></path>
        <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)"></path>
    </svg></span></a>
</p>
+++
{% endblock %}
+++
