---
title: Card
version: 45.2.1
layout: sub-navigation/views/_page
---
+++
{% block mainContent %}
  <p>The card component provides a navigation mechanism consisting of a title and link, descriptive text and an optional list of further links.</p>
{% endblock %}
+++
