---
title: Coronavirus
description: Guidance for writing about the coronavirus (COVID-19) pandemic in the UK and how to highlight quality issues
version: 45.2.1
layout: sub-navigation/views/_page
sortOrder: 3
---
{% block mainContent %}
    <p>Everything you need to get set up on the design system, and guidance on how to use it.</p>

    <p>Start your set-up by installing with npm to get the most up-to-date version of the design system. Then import the files and assets you need.</p>

    <p>The content and design guides will help you write and design for accessibility and consistency. They will also guide you on how to apply ONS house style correctly.</p>

    <p>If you need further help, or have any questions, you can email the Design System working group at ons.design.system@ons.gov.uk</p>
{% endblock %}
