---
title: Coronavirus
description: Guidance for writing about the coronavirus (COVID-19) pandemic in the UK and how to highlight quality issues
version: 45.2.1
layout: sub-navigation/views/_page
sortOrder: 3
---
{% block mainContent %}
    <p>{{ page.description }}.</p>
{% endblock %}
