---
title: Breadcrumbs
version: 45.2.2
layout: sub-navigation/views/_page
---

{% block mainContent %}
   
<p>A breadcrumb trail consists of a list of links to the parent pages of the current page in hierarchical order. It helps users find their place within a website or web application.</p>


{% endblock %}
