---
title: Presenting data
description: Guidance for creating charts and tables and best practice for using colour in your work
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 4
---
+++
{% block mainContent %}
+++    
<p>{{ page.description }}.</p>
+++
{% endblock %}
+++
