---
title: Writing for the web
description: Writing and structuring digital content to be accessible, searchable and readable
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 2
---
+++
{% block mainContent %}
+++    
<p>{{ page.description }}.</p>
+++
{% endblock %}
+++
