---
title: Accordion
version: 45.2.2
layout: sub-navigation/views/_page
---
+++
{% block mainContent %}
+++    
<p>Accordions let users show or hide sections of related content on the same page.</p>
+++
{% endblock %}
+++
