---
title: Autosuggest
version: 45.2.1
layout: sub-navigation/views/_page
---
+++
{% block mainContent %}
    <p>Autosuggest is used to suggest options to users as they enter something into an input field. A user can select one of the suggestions or enter their own answer.</p>

{% endblock %}
+++
