{% extends "page-templates/_template.njk" %}
{% set page = { 
    "title": "Census 2021 prototype",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    },
    "navigation": {
        "id": "main-nav",
        "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
        "ariaLabel": "Main menu",
        "ariraListLabel": "Navigation menu",
        "currentPath": pageInfo.url + '.html',
        "items": helpers.navigationHelper({ 
            "pages": pageInfo.siteMap,
            "ignoreURLs": ["/"],
            "devMode": devMode
        })
    }
} %}
{% block content %}

{% if pageInfo.children or pageInfo.parent %}
    {% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
    {{ 
        onsSectionNavigation({
            "ariaLabel": "Section menu",
            "ariraListLabel": "Navigation menu",
            "currentPath": pageInfo.parent.url + '.html',
            "items": helpers.navigationHelper({ 
                "pages": pageInfo.children,
                "ignoreURLs": ["/"],
                "devMode": devMode
            })
        })
    }}
{% endif %}
<h2 class="u-fs-l">{{ data.title }}</h2>
<div class="u-mb-s"><img src="{{ data.thumbnail }}"></div>
{{ body | safe }}

{% endblock %}
