---
title: Elements
description: The core elements of the brand and how to apply them correctly
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 2
---

{% block mainContent %}
   
<p>The core elements of the brand and how to apply them correctly.</p>

{% endblock %}
