---
title: Logo
version: 45.2.2
layout: sub-navigation/views/_page
sortOrder: 1
---
{% block mainContent %}

## Primary logo

The Office for National Statistics (ONS) logo is the key building block of our identity and the primary brand element that helps to identify us. 

Our logo comprises of the ONS symbol and wordmark. These elements always appear in a fixed relationship and should not be altered, redrawn or modified in any way.

+++
{% call onsPanel({
    "type": "warn"
  })
%}
    Do not save any of the example logos shown on this page. You can <a href="#downloads">download all variations of the ONS logo</a> at the end of this page.
{% endcall %}
+++

## Secondary logo

## Logo colours

## Using the logo

## Downloads

{% endblock %}
