{% extends "layout/_template.njk" %}

{% from "../components/header-navigation/_macro.njk" import onsHeaderNavigation %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "../components/hero/_macro.njk" import onsHero %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

{% set pageConfig = {
    "wide": 'true',
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% set subNavClasses = 'ons-u-d-no' if page.hideSubnav == true %}

{% block head %}
    <link rel="stylesheet" href="/prototypes/sub-navigation/styles.css" />
{% endblock %}

{% block header %}
    {% block headerMain %}
        {% include "./partials/_header-main.njk" %}
    {% endblock %}
    {% block headerNav %}
        {{
            onsHeaderNavigation({
                "wide": true,
                "navigation": {
                    "id": 'main-nav',
                    "ariaLabel": 'Main menu',
                    "ariaListLabel": 'Navigation menu',
                    "siteBasePath": pageInfo.rootPath + '/service-manual/',
                    "currentPath": pageInfo.url,
                    "currentPage": 'Design system',
                    "itemsList": [
                        {
                            "title": 'Home',
                            "url": pageInfo.rootPath + '/service-manual/'
                        },
                        {
                            "title": 'Service standard',
                            "url": pageInfo.rootPath + '/service-manual' + '/service-standard'
                        },
                        {
                            "title": 'Design system',
                            "url": pageInfo.rootPath + '/service-manual' + '/design-system'
                        },
                        {
                            "title": 'Accessibility',
                            "url": pageInfo.rootPath + '/service-manual' + '/accessibility'
                        },
                        {
                            "title": 'Brand guidelines',
                            "url": pageInfo.rootPath + '/service-manual' + '/brand-guidelines'
                        },
                        {
                            "title": 'Content style guide',
                            "url": pageInfo.rootPath + '/service-manual' + '/content-style-guide'
                        }
                    ]
                },
                "secondaryNavigation": {
                    "classes": subNavClasses,
                    "id": 'main-nav',
                    "ariaLabel": 'Main menu',
                    "ariaListLabel": 'Navigation menu',
                    "currentPath": pageInfo.url,
                    "itemsList": [
                        {
                            "title": pageInfo.parent.children[0].title,
                            "url": pageInfo.parent.children[0].url
                        },
                        {
                            "title": pageInfo.parent.children[1].title,
                            "url": pageInfo.parent.children[1].url,
                            "currentPath": '#typography',
                            "sectionItems": [
                                {
                                    "title": 'Base page template',
                                    "url": '#0'
                                },
                                {
                                    "title": 'Grid',
                                    "url": '#0'
                                },
                                {
                                    "title": 'Colours',
                                    "url": '#0'
                                },
                                {
                                    "title": 'Typography',
                                    "url": '#typography'
                                },
                                {
                                    "title": 'Icons',
                                    "url": '#0'
                                }
                            ]
                        },
                        {
                            "title": pageInfo.parent.children[2].title,
                            "url": pageInfo.parent.children[2].url
                        },
                        {
                            "title": pageInfo.parent.children[3].title,
                            "url": pageInfo.parent.children[3].url
                        },
                        {
                            "title": pageInfo.parent.children[4].title,
                            "url": pageInfo.parent.children[4].url
                        },
                        {
                            "title": pageInfo.parent.children[5].title,
                            "url": pageInfo.parent.children[5].url
                        }
                    ]
                },
                "autosuggest": {
                    "label": "Search the service manual",
                    "instructions": "Use up and down keys to navigate results once you\'ve typed more than two characters. Use the enter key to select a result. Touch device users, explore by touch or with swipe gestures.",
                    "ariaYouHaveSelected": "You have selected",
                    "ariaMinChars": "Enter 3 or more characters for results.",
                    "ariaResultsLabel": "Search results",
                    "ariaOneResult": "There is one result available.",
                    "ariaNResults": "There are {n} results available.",
                    "ariaLimitedResults": "Results have been limited to 10 results. Type more characters to improve your search",
                    "moreResults": "Continue entering to improve results",
                    "resultsTitle": "Search results",
                    "autosuggestData": "/search-index.json",
                    "noResults": "No results found",
                    "typeMore": "Continue entering to get results"
                }
            })
        }}
    {% endblock %}
{% endblock %}

{% block preMain %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/sub-navigation/index.js"></script>
{% endblock %}
