{% extends "./_master.njk" %}

{% from "../components/header-navigation/_macro.njk" import onsHeaderNavigation %}
{% from "components/lists/_macro.njk" import onsList %}

{% block pageContent %}

    <div class="ons-page__container ons-container ons-container--wide">

        <div class="ons-grid">
            <div class="ons-grid__col ons-col-3@m ons-u-mt-xl ons-u-d-no@xxs@m ons-u-mb-l">
                {% for group in helpers.subNavigationHelper({
                    pageInfo: pageInfo,
                    anchorLinks: pageInfo.anchorLinks
                }) %}
                    {% if group.title is defined and group.title %}
                        <h3 class="ons-u-fs-r--b ons-u-mb-s">{{ group.title }}</h3>
                    {% endif %}
                    <div class="ons-u-mb-l">
                        {{
                            onsSectionNavigation({
                                "variants": "vertical",
                                "id": "section-navigation",
                                "ariaLabel": "Sub menu",
                                "ariaListLabel": "Child menu",
                                "currentPath": pageInfo.url,
                                "itemsList": group.items
                            })
                        }}
                    </div>
                {% endfor %}
            </div>
            <div class="ons-grid__col ons-col-9@m">
                <main class="ons-page__main" id="main-content" role="main">
                    <h1 class="ons-u-fs-xxl ons-u-mt-l">
                        <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">{{ pageInfo.subgroup }}</span>
                        {{ pageInfo.title }}
                    </h1>
                    {% block mainContent %}{% endblock %}
                </main>

            </div>

        </div>

    </div>

{% endblock %}
